$section-color-one:#333333;
$section-color-two:#222222;
$white:#fff;
$stroke:#444;
$red:#9b0e0e;
$dark-one:#111111;
$dark-two:#222222;
$text-color:#eeeeee;
$red-gradient:linear-gradient(to right, #9b0e0e, #7a1010);
$hover-gradient:linear-gradient(to right, #a10c14, #e23b3b);;
